/* ============ Globals ============ */
@import "./settings";
@import "./functions";

html {
  font-size: 100%;
}

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  font-size: $xl-text-size;
  margin: $m-box-size 0;
}

h2 {
  font-size: $l-text-size;
  margin: pxToRem(48) 0;
}

h3 {
  font-size: $m-text-size;
  margin: $s-box-size 0;
}

h4 {
  font-size: pxToRem(18);
  margin: pxToRem(8) 0;
}

p {
  font-size: $xs-text-size;
  margin: $s-box-size 0;
}

span {
  font-size: $xs-text-size;
  margin: $s-box-size 0;
}

input,
button,
a,
textarea,
output,
optgroup,
select {
  font-size: $xs-text-size;
  margin: 0;
}

/* ============= Media Queries ============== */
@media screen and (min-width: pxToRem(768)) {
  h1 {
    font-size: $xxl-text-size;
    margin: $l-box-size 0;
  }

  h2 {
    font-size: $xl-text-size;
    margin: $m-box-size 0;
  }

  h3 {
    font-size: pxToRem(24);
    margin: pxToRem(12) 0;
  }

  h4 {
    font-size: pxToRem(20);
    margin: pxToRem(8) 0;
  }

  p {
    font-size: $s-text-size;
    margin: pxToRem(12) 0;
  }

  span {
    font-size: $s-text-size;
    margin: pxToRem(12) 0;
  }

  input,
  button,
  a,
  textarea,
  output,
  optgroup,
  select {
    font-size: $s-text-size;
  }
}

@media screen and (min-width: pxToRem(1024)) {
  h1 {
    font-size: $xxxl-text-size;
    margin: $xl-box-size 0;
  }

  h2 {
    font-size: $xxl-text-size;
    margin: pxToRem(20) 0;
  }

  h3 {
    font-size: pxToRem(28);
    margin: $m-box-size 0;
  }

  h4 {
    font-size: pxToRem(24);
    margin: $s-box-size 0;
  }

  p {
    font-size: pxToRem(22);
    margin: $m-box-size 0;
  }

  span {
    font-size: pxToRem(22);
    margin: $m-box-size 0;
  }

  input,
  button,
  a,
  textarea,
  output,
  optgroup,
  select {
    font-size: $m-text-size;
  }
}